[build]
  command = "npm run build"
  publish = "out"

[[redirects]]
  from = "/admin"
  to = "/admin/index.html"
  status = 301

[[redirects]]
  from = "/admin/"
  to = "/admin/index.html"
  status = 301
